
body {
    background-color:#260C1A;
}
#header {
    color:rgba(255, 0, 0, 0.658);
    text-align: center;
    margin: auto;
    font-family: cursive, monospace, sans-serif;
    background-color:#58F5FA;
}
#container {
    background-color: #0D1F22;
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
}
#food-content {
    color:rgb(250, 15, 250);
    margin-left: 10px;
    position: fixed;
}
#couscous-ing {
    color: #FA713F;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 50%;
    float: left;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    
    
}
#couscous-ins {
    font-family: Lucida Console, Helvetica, sans-serif;
    width: 50%;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
   
}
#dez-3asba {
    margin-left: 150px;
    padding: 10px;
}
h3 {
    color:rgb(255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
h2 {
    color: #EDD9A3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;

}
strong {
    color:rgba(0, 225, 255, 0.993);
}
.steps {
    color:#FA713F;
}
ol {
    color: black;
}
#image {
    
    margin-right: 0%;
    margin-left: 390px;
    
    
}

table, th, td {
    border: 1px solid #A61C3C;
  }
a {
    font-size: 20px;
    color: #EDD9A3;
}
#time-serve {
    color: #8EB897;
    margin-right: 0%;
    margin-left: 390px;

}